@import "../../styles.scss";

.main-container {
  color: white;
  background-image: url("../../assets/bgs/explore_bg.png");
  padding-top: 17vh;
  text-align: center;
  justify-content: center;
  background-size: cover !important;
  padding-bottom: 1vh;
}

#main-txt {
  width: 20vw;
  align-self: center;
  font-size: $font-sm;
}

#main-txt p {
  text-align: center;
}

.main-sub-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box1 {
  justify-content: space-evenly;
}

.box2 div {
  margin: 0px 15px;
}

.box3 div {
  display: flex;
}

.main-icons {
  position: absolute;
  top: -60px;
  left: 0px;
}

.box3 p {
  width: 30px;
  align-self: center;
  margin: 0px 15px;
}

.paws {
  width: 112px;
  height: 100%;
}

.paws:hover,
.claws:hover {
  filter: brightness(1.5);
  cursor: pointer;
}

.box,
.main-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 95%;
}

.main-box {
  margin-bottom: 10vh;
}

.detail-container {
  background-color: $primary-100;
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
  color: $primary-300;
  font-size: $font-sm;
}

p {
  text-align: left;
}

.box > div {
  max-width: 30vw;
  min-width: 400px;
  margin: 0 5vw;
}

.explore-icon {
  text-align: left;
  height: 75px;
  position: relative;
}

.explore-icon img {
  position: absolute;
  bottom: 0;
}

#case1,
#case2,
#case3,
#case4 {
  height: 10vh;
  background-size: cover;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 10vh;
  color: white;
}

#case1 {
  background-image: url("../../assets/explore_icons/case1.png");
}

#case1:hover {
  background-image: url("../../assets/explore_icons/case1_hover.svg");
}

#case2 {
  background-image: url("../../assets/explore_icons/case2.png");
}

#case2:hover {
  background-image: url("../../assets/explore_icons/case2_hover.svg");
}

#case3 {
  background-image: url("../../assets/explore_icons/case3.png");
}

#case3:hover {
  background-image: url("../../assets/explore_icons/case3_hover.svg");
}

#case4 {
  background-image: url("../../assets/explore_icons/case4.png");
}

#case4:hover {
  background-image: url("../../assets/explore_icons/case4_hover.svg");
}
