<div class="main-container">
  <div class="main-box">
    <div style="width: 1000px">
      <div class="main-sub-box box1">
        <div style="position: relative">
          <img
            src="../../assets/explore_icons/girl.svg"
            *ngIf="show[1]"
            class="main-icons"
          />
          <p>根据你的<br />经历<br />定制游戏<br />的内容</p>
        </div>
        <div style="position: relative">
          <img
            src="../../assets/explore_icons/car.svg"
            *ngIf="show[2]"
            class="main-icons"
          />
          <p>根据你的<br />心理<br />定制游戏<br />的形式</p>
        </div>
      </div>
      <div class="main-sub-box box2">
        <div style="position: relative">
          <img
            src="../../assets/explore_icons/house.svg"
            *ngIf="show[0]"
            class="main-icons"
          />
          <p>根据你的<br />三观<br />定制游戏<br />的原则</p>
        </div>
        <div style="transform: translateY(130px)">
          <img
            src="../../assets/explore_icons/claw1.svg"
            class="claws"
            (click)="scroll(sec1)"
            (mouseenter)="show[0] = true"
            (mouseleave)="show[0] = false"
          />
        </div>
        <div>
          <img
            src="../../assets/explore_icons/claw2.svg"
            class="claws"
            (click)="scroll(sec2)"
            (mouseenter)="show[1] = true"
            (mouseleave)="show[1] = false"
          />
        </div>
        <div>
          <img
            src="../../assets/explore_icons/claw3.svg"
            class="claws"
            (click)="scroll(sec3)"
            (mouseenter)="show[2] = true"
            (mouseleave)="show[2] = false"
          />
        </div>
        <div style="transform: translateY(130px)">
          <img
            src="../../assets/explore_icons/claw4.svg"
            class="claws"
            (click)="scroll(sec4)"
            (mouseenter)="show[3] = true"
            (mouseleave)="show[3] = false"
          />
        </div>
        <div style="position: relative">
          <img
            src="../../assets/explore_icons/paint.svg"
            *ngIf="show[3]"
            class="main-icons"
          />
          <p>根据你的<br />审美<br />定制游戏<br />的艺术</p>
        </div>
      </div>

      <div class="main-sub-box box3" style="margin-top: 50px">
        <div style="position: relative">
          <img
            src="../../assets/explore_icons/dish.svg"
            style="
              width: 80px;
              align-self: center;
              position: absolute;
              left: -80px;
            "
            *ngIf="show[4]"
          />
          <p>调节<br />生活</p>
        </div>
        <div>
          <img
            src="../../assets/explore_icons/paw1.png"
            class="paws"
            (click)="scroll(sec5)"
            (mouseenter)="show[4] = true"
            (mouseleave)="show[4] = false"
          />
          <img
            src="../../assets/explore_icons/paw2.png"
            class="paws"
            (click)="scroll(sec6)"
            (mouseenter)="show[5] = true"
            (mouseleave)="show[5] = false"
          />
        </div>
        <div style="position: relative">
          <p>探索<br />关系</p>
          <img
            src="../../assets/explore_icons/crane.svg"
            style="
              width: 80px;
              align-self: center;
              position: absolute;
              left: 80px;
            "
            *ngIf="show[5]"
          />
        </div>
      </div>

      <div class="main-sub-box box3">
        <div style="position: relative">
          <img
            src="../../assets/explore_icons/camera.svg"
            style="
              width: 80px;
              align-self: center;
              position: absolute;
              left: -80px;
            "
            *ngIf="show[6]"
          />
          <p>纪念<br />生活</p>
        </div>
        <div>
          <img
            src="../../assets/explore_icons/paw3.png"
            class="paws"
            (click)="scroll(sec7)"
            (mouseenter)="show[6] = true"
            (mouseleave)="show[6] = false"
          />
          <img
            src="../../assets/explore_icons/paw4.png"
            class="paws"
            (click)="scroll(sec8)"
            (mouseenter)="show[7] = true"
            (mouseleave)="show[7] = false"
          />
        </div>
        <div style="position: relative">
          <p>创作<br />故事</p>
          <img
            src="../../assets/explore_icons/pen.svg"
            style="
              width: 80px;
              align-self: center;
              position: absolute;
              left: 80px;
            "
            *ngIf="show[7]"
          />
        </div>
      </div>
    </div>
    <div id="main-txt">
      <p>
        猫爪匠 的 LOGO 中隐含着我们想要<br />
        帮助客户满足的需求：
      </p>
      <p>四个爪趾对应定制游戏的特点</p>
      <p>四个掌心方向对应定制游戏的应用场景</p>
    </div>
  </div>
  <div>下滑了解更多细节</div>
</div>

<div class="detail-container">
  <section>
    <h3>定制游戏特点</h3>
    <div class="box">
      <div #sec1>
        <div class="explore-icon">
          <img src="../../assets/explore_icons/house.svg" />
        </div>
        <p>
          一、根据你的三观（人生观、世界观、价值观）<br />定制游戏的原则（意义主旨、道德边界、具体指导）
        </p>
        <p>
          - 人生观：什么是好的生命体验，如何获取这样的生命体验。<br />
          “当主流文化产品不断强调异性性缘关系的重要性：你是否<br />
          想创造有一群友缘伴侣的世界？” <br />
          - 价值观：什么是价值主体、载体、标准。 <br />
          - 世界观：什么是世界的结构与人类的特殊性。<br />
          - 意义主旨：（细节待补充）- 道德边界：（细节待补充） <br />
          - 具体指导：（细节待补充）<br />
        </p>
      </div>

      <div #sec2>
        <div class="explore-icon">
          <img src="../../assets/explore_icons/girl.svg" />
        </div>
        <p>
          二、根据你的经历（人生经历、喜好作品、创意设想）<br />
          定制游戏的内容（世界设定、人物设定、剧情过程）
        </p>
        <p>
          - 人生经历：工作学习、人际交往、生活日常。“当你想用更<br />
          加有趣的方式来记录生活：你是否想创建一个属于自己的虚拟<br />
          记录空间？”<br />
          “当主流文化产品不断强调异性性缘关系的重要性：你是否<br />
          想创造有一群友缘伴侣的世界？” <br />
          - 喜好作品：对你喜爱的故事或角色进行二创。<br />
          - 创意设想：（细节待补充）<br />
          - 世界设定：（细节待补充） <br />
          - 人物设定：（细节待补充）<br />
          - 剧情过程：（细节待补充） <br />
        </p>
      </div>

      <div #sec3>
        <div class="explore-icon">
          <img src="../../assets/explore_icons/car.svg" />
        </div>

        <p>
          三、根据你的心理（思维类型、心理驱动、情绪需求）<br />
          定制游戏的形式（游戏类型、成就体系、社交属性）
        </p>
        <p>
          - 思维类型：包含创造/直觉、批判/推导、经验/实证、独立/协作。<br />
          - 心理驱动：包含成就驱动、趣味驱动、权力驱动和归属驱<br />
          动。“当主流 RPG 都是战力成就导向：你是否想创造一个全<br />
          “当主流文化产品不断强调异性性缘关系的重要性：你是否<br />
          剧情导向同时趣味驱动的 RPG 世界？”<br />
          - 情绪需求：包含情绪调节、情绪期待、情绪共鸣、情绪表达。<br />
          -“当你在生活中找不到互动性情绪发泄但又不伤害旁人的渠道：你是否<br />
          想拥有一个类似功能的游戏世界？”<br />
          - 游戏类型：（细节待补充）<br />
          - 成就体系：（细节待补充）<br />
          - 社交属性：（细节待补充）<br />
        </p>
      </div>

      <div #sec4>
        <div class="explore-icon">
          <img src="../../assets/explore_icons/paint.svg" />
        </div>

        <p>
          四、根据你的审美（人物相关、动态叙述、静态描写）<br />
          定制游戏的艺术（整体风格、抽象调性、单位特质）
        </p>
        <p>
          - 人物相关：包含同类审美、性缘审美、包容审美。“当主流<br />
          只包含一种单一的同类和性缘审美：你是否想塑造真正包<br />
          容审美的世界？”<br />
          “当主流文化产品不断强调异性性缘关系的重要性：你是否<br />
          想创造有一群友缘伴侣的世界？” <br />
          - 动态叙述：（细节待补充）<br />
          - 静态描写：（细节待补充）<br />
          - 整体风格：文体（小说、散文、戏剧、诗歌、记叙文、议论<br />
          文、说明文、应用文）；绘画风格；音乐流派<br />
          - 抽象调性：简洁/精致；准确/写意<br />
          - 单位特质：文学手法、修辞手法；点、线、形状、色彩、结<br />
          构、明暗、空间、材质、肌理；节奏，曲调，和声，以及力<br />
          度，速度，调式，曲式，织体
        </p>
      </div>
    </div>
  </section>

  <section>
    <h3>有些抽象难以理解？</h3>
    <button>
      <a [routerLink]="'/showcase'">查看案例</a>
    </button>
  </section>

  <section>
    <h3>定制游戏用途</h3>
    <div class="box">
      <div #sec5>
        <div id="case1">查看案例</div>
        <div class="explore-icon">
          <img src="../../assets/explore_icons/dish.svg" />
        </div>
        <p>一、调节生活</p>
        <p>
          - 放松体验：（细节待补充）<br />
          - 趣味成就：（细节待补充）<br />
        </p>
      </div>
      <div #sec6>
        <div id="case2">查看案例</div>
        <div class="explore-icon">
          <img src="../../assets/explore_icons/camera.svg" />
        </div>
        <p>二、纪念生活</p>
        <p>
          - 留给自己：（细节待补充）<br />
          - 送给朋友：（细节待补充）<br />
        </p>
      </div>
      <div #sec7>
        <div id="case3">查看案例</div>
        <div class="explore-icon">
          <img src="../../assets/explore_icons/crane.svg" />
        </div>
        <p>三、探索关系</p>
        <p>
          - 情感联结：（细节待补充）<br />
          - 团队建设：（细节待补充）<br />
        </p>
      </div>
      <div #sec8>
        <div id="case4">查看案例</div>
        <div class="explore-icon">
          <img src="../../assets/explore_icons/pen.svg" />
        </div>
        <p>四、创作故事</p>
        <p>
          - 放松体验：（细节待补充）<br />
          - 原创：（细节待补充）<br />
        </p>
      </div>
    </div>
  </section>

  <section>
    <h3>
      通过这些，你或许逐渐已经理解了定制游戏的意义～<br />快来开始定制吧！
    </h3>
    <div>
      <button>
        <a
          href="https://uxljxnzrikr.feishu.cn/share/base/form/shrcn2M9nKUHtaunrgTJf9g7yth"
          >开始定制</a
        >
      </button>
      <button>
        <a [routerLink]="'/contact-us'">联系我们</a>
      </button>
    </div>
  </section>

  <section>
    <h3>关于作品</h3>
  </section>
</div>
