<div class="container">
  <div id="logo">
    <img src="assets/logo_deep_purple2.svg" id="logo-img" />
    <div id="company">© 2024 Crafcat</div>
  </div>
  <div id="footer-lists">
    <div class="list-container">
      <div class="primary-btn" [routerLink]="'community'">社区</div>
      <div class="primary-btn" [routerLink]="'community'">关于我们</div>
      <div class="primary-btn" [routerLink]="'community'">加入我们</div>
      <div class="primary-btn" [routerLink]="'contact-us'">联系我们</div>
    </div>
    <div class="list-container">
      <div class="primary-btn" [routerLink]="'showcase'">案例</div>
      <div class="primary-btn" [routerLink]="'sample'">官方样品</div>
      <div class="primary-btn" [routerLink]="'sample'">官方案例</div>
      <div class="primary-btn">用户反馈</div>
      <div class="primary-btn">定制榜单</div>
    </div>
    <div class="list-container">
      <div class="primary-btn" [routerLink]="'service'">服务</div>
      <div class="primary-btn" [routerLink]="'explore'">游戏特点</div>
      <div class="primary-btn" [routerLink]="'explore'">游戏用途</div>
      <div class="primary-btn" [routerLink]="'process'">流程图示</div>
      <div class="primary-btn" [routerLink]="'process'">收费标准</div>
    </div>
    <div class="list-container">
      <div class="primary-btn" [routerLink]="'faq'">常见问题</div>
      <div class="primary-btn" [routerLink]="'faq'">关于游戏</div>
      <div class="primary-btn" [routerLink]="'faq'">关于服务</div>
      <div class="primary-btn">审核</div>
      <div class="primary-btn">版权</div>
      <div class="primary-btn" [routerLink]="'community'">关于社区</div>
      <div class="primary-btn" [routerLink]="'community'">加入我们</div>
    </div>
    <div class="list-container">
      <div class="primary-btn">
        <a
          href="https://uxljxnzrikr.feishu.cn/share/base/form/shrcn2M9nKUHtaunrgTJf9g7yth"
          >开始定制</a
        >
      </div>
      <div class="primary-btn" [routerLink]="'contact-us'">联系我们</div>
      <div class="primary-btn" [routerLink]="'community'">社媒</div>
      <div class="primary-btn" [routerLink]="'community'">社群</div>
      <div class="primary-btn" [routerLink]="'contact-us'">客服</div>
    </div>
  </div>
</div>
