<div class="container">
  <div id="logo">
    <img src="assets/logo_deep_purple2.svg" style="width: 90%;">
    <div id="company"> © 2024 Crafcat </div>
  </div>
  <div id="footer-lists">
    <div class="list-container">
      <ul>
        <li>
          社区
        </li>
        <li>
          关于我们
        </li>
        <li>
          加入我们
        </li>
        <li>
          联系我们
        </li>
      </ul>
    </div>
    <div class="list-container">
      <ul>
        <li>
          案例
        </li>
        <li>
          官方样品
        </li>
        <li>
          官方案例
        </li>
        <li>
          用户反馈
        </li>
        <li>
          定制榜单
        </li>
      </ul>
    </div>
    <div class="list-container">
      <ul>
        <li>
          服务
        </li>
        <li>
          游戏特点
        </li>
        <li>
          游戏用途
        </li>
        <li>
          流程图示
        </li>
        <li>
          收费标准
        </li>
      </ul>
    </div>
    <div class="list-container">
      <ul>
        <li>
          常见问题
        </li>
        <li>
          关于游戏
        </li>
        <li>
          关于服务
        </li>
        <li>
          审核
        </li>
        <li>
          版权
        </li>
        <li>
          关于社区
        </li>
        <li>
          加入我们
        </li>
      </ul>
    </div>
    <div class="list-container">
    <ul>
      <li>
        开始定制
      </li>
      <li>
        联系我们
      </li>
      <li>
        社媒
      </li>
      <li>
        社群
      </li>
      <li>
        客服
      </li>
    </ul>
    </div>
  </div>
</div>