@import "../../styles.scss";

.container {
  background-color: $primary-200;
  display: flex;
  padding: 0% 5%;
  padding-right: 10%;
}

#logo-img {
  height: min(8vh, 50vw);
}

#logo {
  margin: auto 0;
  color: $primary-300;
}

#company {
  font-size: $font-sm;
  margin-top: 3%;
  margin-left: 5%;
}

#footer-lists {
  margin: auto;
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.list-container {
  margin: 1% 1vw;
  padding-top: 1%;
  line-height: 2rem;
  font-size: $font-sm;
}

@media (max-width: 800px) {
  #footer-lists {
    display: none;
  }

  .container[_ngcontent-ng-c1524406791] {
    height: 25vh;
    justify-content: space-evenly;
  }
}
