@import "../../styles.scss";

.container {
  height: 25vh;
  background-color: $primary-200;
  display: flex;
  padding: 0% 5%;
  padding-right: 10%;
}

#logo-img {
  height: min(8vh, 50vw);
}

#logo {
  margin: auto 0;
  color: $primary-300;
}

#company {
  font-size: 1.2rem;
  margin-top: 3%;
  margin-left: 5%;
}

#footer-lists {
  margin: auto;
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.list-container {
  margin: 0% 1vw;
  line-height: 2rem;
  font-size: 1.2rem;
}
