<div class="container">
  <div id="logo">
    <img src="assets/logo_deep_purple2.svg" id="logo-img" />
    <div id="company">© 2024 Crafcat</div>
  </div>
  <div id="footer-lists">
    <div class="list-container">
      <div class="primary-btn">社区</div>
      <div class="primary-btn">关于我们</div>
      <div class="primary-btn">加入我们</div>
      <div class="primary-btn">联系我们</div>
    </div>
    <div class="list-container">
      <div class="primary-btn">案例</div>
      <div class="primary-btn">官方样品</div>
      <div class="primary-btn">官方案例</div>
      <div class="primary-btn">用户反馈</div>
      <div class="primary-btn">定制榜单</div>
    </div>
    <div class="list-container">
      <div class="primary-btn">服务</div>
      <div class="primary-btn">游戏特点</div>
      <div class="primary-btn">游戏用途</div>
      <div class="primary-btn">流程图示</div>
      <div class="primary-btn">收费标准</div>
    </div>
    <div class="list-container">
      <div class="primary-btn">常见问题</div>
      <div class="primary-btn">关于游戏</div>
      <div class="primary-btn">关于服务</div>
      <div class="primary-btn">审核</div>
      <div class="primary-btn">版权</div>
      <div class="primary-btn">关于社区</div>
      <div class="primary-btn">加入我们</div>
    </div>
    <div class="list-container">
      <div class="primary-btn">开始定制</div>
      <div class="primary-btn">联系我们</div>
      <div class="primary-btn">社媒</div>
      <div class="primary-btn">社群</div>
      <div class="primary-btn">客服</div>
    </div>
  </div>
</div>
