<div class="container">
  <section>
    <h3>官方社媒</h3>
    <div class="box-container">
      <a *ngFor="let media of medias" class="box-item" [href]="media.link">
        <img [src]="media.icon" />
        <div class="box-txt">
          {{ media.name }}<br />
          更新内容：{{ media.content }}<br />
          更新频率：{{ media.update }}<br />
        </div>
      </a>
    </div>
  </section>
  <section>
    <h3>微信社群</h3>
  </section>
  <section>
    <h3>微信客服</h3>
  </section>
  <section>
    <h3>填写问卷能获得私人小助手哦</h3>
    <button (click)="openQuestionnaire()">
      填写问卷
    </button>
  </section>
</div>
