<div id="showcase-container">
  <div class="txt" style="transform: translateY(-20%)">
    <div id="logo1"></div>
    <h4 style="margin-top: -2vh">官方样品</h4>
    <p>
      从我们提供的小游戏样品中，你可以看见定制游戏的更多种类和细节：快来看看哪种游戏更能实现你的梦想世界吧！
    </p>
  </div>
  <div class="txt" style="transform: translateY(15%)">
    <div id="logo2"></div>
    <h4>客户案例</h4>
    <p>
      在一些客户的同意和支持下，我们将 ta
      们和自己的定制游戏的故事分享了出来：想不想走进 ta
      们的世界？想不想寻找共鸣的灵魂？
    </p>
  </div>
  <div class="txt" style="transform: translateY(0%)">
    <div id="logo3"></div>
    <h4>客户反馈</h4>
    <p>
      在定制服务中，交流是无比重要的一环。我们始终将你的意愿视作最首要的设计标准；将你的反馈化作最细致的服务准则：快来看看客户曾经给的反馈和我们根据反馈做出的调整都有哪些吧！
    </p>
  </div>
  <div class="txt" style="transform: translateY(-5%)">
    <div id="logo4"></div>
    <h4>定制榜单</h4>
    <p>
      总有那么一些游戏设计正在流行；总有那么一些服务内容备受好评：快来看看有没有你心仪的游戏机制、文案风格、画师太太、声优老师吧！
    </p>
  </div>
</div>

<app-slider [imgs]="imgs" [height]="container_height"></app-slider>
