<div style="position: absolute; width: 100%; z-index: 100">
  <div class="container">
    <img src="assets/logo_white.svg" id="logo" style="height: 6vh" />
    <div id="logo-title">
      猫爪匠
      <br />
      CRAFCAT
    </div>
    <div class="nav-btns">
      <div class="nav-btn primary-btn">常见问题</div>
      <div class="nav-btn primary-btn">联系我们</div>
      <div class="nav-btn primary-btn">开始定制</div>
      <div class="nav-btn primary-btn">社区</div>
      <div class="nav-btn primary-btn">案例</div>
      <div class="nav-btn primary-btn">服务</div>
    </div>
  </div>
</div>
