<div style="position: absolute; width: 100%; z-index: 100">
  <div class="container">
    <div style="display: flex; cursor: pointer" [routerLink]="'/'">
      <img
        src="assets/logo_white.svg"
        id="logo"
        style="height: 8vh"
        *ngIf="currentSection == 'intro'"
      />
      <img
        src="assets/logo_purple.svg"
        id="logo"
        style="height: 8vh"
        *ngIf="logoStyle == 'purple' && currentSection != 'intro'"
      />
      <img
        src="assets/logo_deep_purple.svg"
        id="logo"
        style="height: 8vh"
        *ngIf="logoStyle == 'deep_purple'"
      />
      <div
        id="logo-title"
        [ngClass]="currentSection == 'intro' ? 'white' : logoStyle"
      >
        猫爪匠
        <br />
        CRAFCAT
      </div>
    </div>
    <div class="nav-btns" [ngClass]="logoStyle">
      <div
        class="nav-btn primary-btn"
        [routerLink]="'/faq'"
        [ngClass]="currentSection == 'faq' ? 'white' : ''"
      >
        常见问题
      </div>
      <div
        class="nav-btn primary-btn"
        [routerLink]="'/contact-us'"
        [ngClass]="currentSection == 'contact-us' ? 'white' : ''"
      >
        联系我们
      </div>
      <div class="nav-btn primary-btn" (click)="openQuestionnaire()">
        开始定制
      </div>
      <div
        class="nav-btn primary-btn"
        [routerLink]="'/community'"
        [ngClass]="
          ['community', 'game_team'].includes(currentSection) ? 'white' : ''
        "
      >
        社区<br />
        <div *ngIf="currentSection == 'game_team'" class="sub-btn">
          游戏团队
        </div>
      </div>
      <div
        class="nav-btn primary-btn"
        [routerLink]="'/showcase'"
        [ngClass]="
          ['showcase', 'sample'].includes(currentSection) ? 'white' : ''
        "
      >
        案例<br />
        <div *ngIf="currentSection == 'sample'" class="sub-btn">官方样品</div>
        <!-- <div *ngIf="currentSection == 'process'" class="sub-btn">了解流程</div> -->
      </div>
      <div
        class="nav-btn primary-btn"
        [routerLink]="'/service'"
        [ngClass]="
          ['service', 'explore', 'process'].includes(currentSection)
            ? 'white'
            : ''
        "
      >
        服务<br />
        <div *ngIf="currentSection == 'explore'" class="sub-btn">探索需求</div>
        <div *ngIf="currentSection == 'process'" class="sub-btn">了解流程</div>
      </div>
    </div>
  </div>
</div>
