<div class="main-container">
  <div class="main-box">
    <div class="main-sub-box box1">
      <div id="main-txt">
        <p>
          无论是最初的初衷梦想<br />
          还是最后的成果, <br />
          作品都耀如星辰
        </p>
        <p>
          让我们跟着星星来了解游戏定制的流程,<br />
          来穿梭于不同的平行世界之间
        </p>
      </div>
      <div class="item" style="display: flex">
        <img src="../../assets/star.svg" style="width: 207px" class="stars" />
        <p>
          第七阶段：后续支持如若想要制作游戏的续集或增加玩法，我们始终陪伴！
        </p>
      </div>
      <div
        class="item"
        style="transform: translateX(-15vw) translateY(10vh); display: flex"
      >
        <img src="../../assets/star.svg" style="width: 172px" class="stars" />
        <p>第六阶段：分享与庆祝配合您的需求，分享游戏给您的亲友。</p>
      </div>
    </div>
    <div class="main-sub-box box2">
      <div class="item">
        <p>
          第一阶段：需求咨询深入了解您的梦想世界，收集您对游戏类型、剧本、美术的具体需求。
        </p>
        <img
          src="../../assets/star.svg"
          style="width: 132px; transform: rotateX(70deg)"
          class="stars"
        />
      </div>
      <div class="item" style="transform: translateY(-10vh)">
        <p>
          第二阶段：个性化设计根据您的需求，制定个性化的剧本、美术风格、配音配乐方案、演出方式。
        </p>
        <img
          src="../../assets/star.svg"
          style="width: 132px; transform: rotateX(60deg)"
          class="stars"
        />
      </div>
      <div class="item" style="transform: translateY(-10vh)">
        <p>
          第三阶段：游戏制作完成剧本，美术定制方案，设计开发出定制化的游戏关卡和特色元素。
        </p>
        <img
          src="../../assets/star.svg"
          style="width: 144px; transform: rotateX(45deg)"
          class="stars"
        />
      </div>
      <div class="item" style="transform: translateY(-10vh)">
        <img
          src="../../assets/star.svg"
          style="width: 144px; transform: rotateX(30deg)"
          class="stars"
        />
        <p>
          第四阶段：测试与反馈提供游戏试玩Demo，收集您的反馈并进行必要的调整优化。
        </p>
      </div>
      <div class="item" style="transform: translateY(-25vh) translateX(-5vw)">
        <img src="../../assets/star.svg" style="width: 151px" class="stars" />
        <p>
          第五阶段：第五阶段：终稿呈现完成游戏最终版本，确保所有细节都符合您的期望。
        </p>
      </div>
    </div>
  </div>
  <div>下滑了解更多细节</div>
</div>

<div class="detail-container">
  <section>
    <h3>快来一步步试试这些步骤吧！</h3>
    <div>
      <button (click)="openQuestionnaire()">开始定制</button>
      <button>
        <a [routerLink]="'/contact-us'">联系我们</a>
      </button>
    </div>
  </section>

  <section>
    <h3>关于服务</h3>
  </section>
</div>
