@import "../../styles.scss";

#service-container {
  height: 65vh;
  color: white;
  font-size: $font-sm;
  display: flex;
  padding-top: 24vh;
  justify-content: space-evenly;
  margin: auto 10px;
  position: relative;
  z-index: 1;
}

p {
  word-break: break-word;
}

#right-txt {
  text-align: end;
}

#left-txt,
#right-txt {
  width: 40vw;
  z-index: 10;
  height: 20vh;
}

#left-hand {
  left: 10vw;
}
#right-hand {
  right: 10vw;
}

#left-hand,
#right-hand {
  position: absolute;
  top: 20vh;
  z-index: 5;
}

.hands-img {
  width: min(30vw, 40vh);
  height: min(30vw, 40vh);
  background-size: contain !important;
}

#left-hand-img {
  background: url("../../assets/left_hand.svg");
  position: absolute;
  left: 5vw;
}

#right-hand-img {
  background: url("../../assets/right_hand.svg");
  position: absolute;
  right: 5vw;
}

#left-hand-img:hover {
  background-image: url("../../assets/left_hand_hover.svg");
  cursor: pointer;
}

#right-hand-img:hover {
  background-image: url("../../assets/right_hand_hover.svg");
  cursor: pointer;
}

@media (max-width: 800px) {
  .hidden-txt {
    display: none;
  }
}
