@import "../../styles.scss";

#intro-container {
  height: max-content;
  color: white;

  display: flex;
  padding-top: 17vh;
  padding-bottom: 10vh;
  text-align: center;
  justify-content: center;
}

#slogan {
  color: white;
}

h2 {
  font-size: $font-lg;
}

h1 {
  font-size: $font-xl;
}

.description {
  font-size: $font-sm;
  margin: 0px 10px;
}

#start-btn {
  width: min(18rem, 60vw);
  min-height: 7vh;
  border-radius: 2rem;
  background: $primary-trans;
  font-size: $font-lg;
  color: white;
  margin-top: 3vh;
  font-family: $lg-txt-font;
  border-color: transparent;
}

#start-btn:hover {
  background: $primary-trans-hover;
}
