<div id="intro-container">
  <div id="slogan">
    <h2>创造你的平行世界</h2>
    <h1>定制游戏</h1>
    <div class="description">
      <p>
        在诸多神话中，猫是最沉默的表达者，也是最守序的越界者<br />
        在自我、可能、秩序愈发对立统一的现在和赛博未来中<br />
        我们是否也持有猫的灵魄
      </p>
      <p>
        欢迎来到无界舱<br />

        在这里唤起灵魄沉淀自我、寻找共鸣；在这里长出爪子撕开旧边界、筑造新世界<br />
        你可以驾驶舱体在世界各处游走，也可以操作舱内器械塑造你眼前的平行世界<br />
      </p>
      <p>
        欢迎接受猫爪匠定制游戏服务<br />
        我们尊重最独特的创意需求，我们提供最可靠的制作技术 <br />
        快来开启你的定制之旅吧！
      </p>
      <button id="start-btn" (click)="openQuestionnaire()">开始定制</button>
    </div>
  </div>

  <app-slider [imgs]="imgs" [height]="container_height"></app-slider>
</div>
