@import "../../styles.scss";

#bg-img-container {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  overflow-x: clip;
}

.bg-img {
  height: 95vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  height: 75vh;
  background: transparent;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  display: flex;
  padding-top: 17vh;
  text-align: center;
  justify-content: center;
}

#slogan {
  color: white;
}

h2 {
  font-size: $font-lg;
}

h1 {
  font-size: $font-xl;
}

.description {
  font-size: $font-sm;
  margin: 0px 10px;
}

#start-btn {
  width: min(18rem, 60vw);
  height: 6vh;
  border-radius: 2rem;
  background: $primary-trans;
  font-size: $font-lg;
  color: white;
  margin-top: 3vh;
  font-family: $lg-txt-font;
}

#start-btn:hover {
  background: $primary-trans-hover;
}

#slider-container {
  top: 11vh;
  right: 7vw;
  font-size: $font-sm;
  position: absolute;
  color: $primary-100;
}

.slider {
  display: flex;
}

.slider-txt {
  margin: 1px 5px 0px 5px;
}

.slider-btn {
  width: 30px;
}

.clicked-btn {
  filter: $svg-hover-color;
}
