<div id="bg-img-container" [ngStyle]="{ display: loading ? 'none' : 'block' }">
  <img
    [ngStyle]="{
      transform: 'translateX(' + state1 + '%)',
      height: 'calc(' + height + 'px + 10vh)',
    }"
    class="bg-img"
    src="{{ imgs[idx1] }}"
  />
  <img
    [ngStyle]="{
      transform: 'translateX(' + state2 + '%)',
      height: 'calc(' + height + 'px + 10vh)',
    }"
    class="bg-img"
    src="{{ imgs[idx2] }}"
  />
</div>
<div id="slider-container" *ngIf="!disabled">
  <div class="slider">
    <div class="slider-btn primary-btn" (click)="left()">
      <img src="assets/prev_arrow.svg" />
    </div>
    <div class="slider-txt">切换背景</div>
    <div class="slider-btn primary-btn" (click)="right()">
      <img src="assets/next_arrow.svg" style="margin-right: 2.63px" />
    </div>
  </div>
  <div class="slider" *ngIf="!disabled">
    <div class="slider-btn primary-btn" (click)="lock = true">
      <img
        src="assets/lock.svg"
        style="margin-left: 3px"
        [ngClass]="lock ? 'clicked-btn' : ''"
      />
    </div>
    <div class="slider-txt">锁定解锁</div>
    <div class="slider-btn primary-btn" (click)="lock = false">
      <img src="assets/unlock.svg" [ngClass]="!lock ? 'clicked-btn' : ''" />
    </div>
  </div>
</div>
