<div class="container">
  <section>
    <h3>关于我们</h3>
    <div class="box-container">
      <div class="box-txt">
        <p>
          我们的团队是一个多元化的梦想工厂，汇集了来自世界各地的创新思想家和实干家。
          我们拥有艺术家的创意灵感、工程师的技术精粹以及设计师的美学追求，每个团队成员都带来了他们的独特视角和深厚的专业技能。
          不仅如此，我们的项目管理者和策划人员也都是行业中的佼佼者，他们用宏观的视角确保每一个细节都能完美融入您的游戏之中。
        </p>
        <p>
          创新和专属是我们的使命。无论您梦想中的游戏是一个怎样的世界，我们都会将它栩栩如生地呈现在您面前。
        </p>
        <p>让我们携手，定制你的幻想世界。</p>
      </div>
      <div>
        <img src="../../assets/img_box_sample.png" style="width: 100%" />
        <h4>游戏团队</h4>
      </div>
      <div>
        <img src="../../assets/img_box_sample.png" style="width: 100%" />
        <h4>艺术团队</h4>
      </div>
    </div>
  </section>
  <section>
    <h3>加入我们</h3>
    <div class="box-container">
      <div class="box-txt-left">
        <p>如果你：</p>
        <p>
          - 对游戏有深厚的爱好和理解。<br />
          - 细心且有责任心，能够发现并记录游戏中的问题。<br />
          - 拥有出色的沟通技能，能够理解并解决玩家遇到的问题。<br />
          - 乐于协作，能够与团队紧密合作，提升游戏品质和玩家满意度。<br />
          -（在校生可申！）
        </p>
        <div class="qr_content">
          <div style="width: 25%">
            <img src="../../assets/qr_sample.png" />
          </div>
          <div style="width: 60%; margin-left: 1vw">
            如果你有意向，<br />
            快来扫码加入我们吧！
          </div>
        </div>
      </div>

      <div class="box-txt-left">
        <p>我们正在寻找：</p>
        <p>
          测试员 <br />
          如果你对游戏充满热情，对细节有着近乎苛求的追求，愿意深入游戏的每一个角落，确保每个玩家都能获得最佳体验，那么你就是我们需要的人才。
          作为质量保证测试员，你将是我们产品优化的关键，通过你敏锐的观察和专业的测试来提升我们游戏的品质。
        </p>
        <p>
          售后支持 <br />
          在游戏发布后的旅程同样重要，我们重视每一位玩家的体验和反馈。
          如果你对解决问题充满激情，并且能够用耐心和专业为玩家提供帮助和支持，加入我们的售后支持团队吧。你将是玩家声音的传达者和团队改进工作的推动者。
        </p>
      </div>
    </div>
  </section>

  <section>
    <h3>用户社群（正在开发中）</h3>
  </section>

  <section>
    <h3>社区问题</h3>
  </section>
</div>
