/* You can add global styles to this file, and also import other style files */
$primary-100: #b8a9d9;
$primary-trans: rgba(184, 169, 217, 0.71);
$primary-200: #8c76bd;
$primary-300: #003366;
$primary-trans-hover: rgb(205, 190, 235, 0.71);

html,
body {
  height: 100%;
  width: 100%;
  // font-size: calc(0.5 * min(3vh, 3vw));
}
body {
  margin: 0;
  font-family: "sm-txt-font";
}

.primary-btn:hover {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(266deg)
    brightness(106%) contrast(103%);
  color: white;
  cursor: pointer;
}

$font-sm: 1.2rem; //24px
$font-md: 1.7rem; //36px
$font-lg: 2.4rem; //48px
$font-xl: 3.4rem; //72px

$svg-hover-color: invert(0%) sepia(100%) saturate(0%) hue-rotate(266deg)
  brightness(106%) contrast(103%);

$lg-txt-font: "lg-txt-font";
$sm-txt-font: "sm-txt-font";
// $font-sm: 24px;
// $font-md: 36px;
// $font-lg: 48px;
// $font-xl: 72px;

$sm-txt-font: "sm-txt-font";
$lg-txt-font: "lg-txt-font";

h1,
h2,
h3 {
  font-family: $lg-txt-font;
  font-weight: 100;
}

h2 {
  font-size: $font-lg;
}

h1 {
  font-size: $font-xl;
}
@font-face {
  font-family: "lg-txt-font";
  src: url("assets/fonts/LogoSCUnboundedSans.ttf") format("opentype");
}

@font-face {
  font-family: "sm-txt-font";
  src: url("assets/fonts/CangJiGaoDeGuoMiaoHei.ttf") format("opentype");
}
